.dark-mode {
    filter: invert(1) hue-rotate(180deg);
}

.invert {
    filter: invert(1) hue-rotate(180deg);
}

.mode-image{
    width: 30px;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    background-color: rgb(228, 228, 228);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container{
    text-align: center;
    padding: .2em 1.2em;
}


.logo{
    width: 140px;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 1.5em 2em 0 2em;
}


.menu{
    width: 25px;
    margin-top: 40%;
}

.menu:hover{
    width: 28px;
}

nav ul{
    position: fixed;
    width: 30%;
    top: 0;
    right: 0;
    background-color: white;
    height: 39.7%;
    z-index: 7;
    padding-top: 2.5em;
    text-align: center;
    font-weight: 700;
}

nav ul li{
    height: fit-content;
}

nav ul  li a{
    /* color: rgb(18, 77, 125); */
    color: black;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1em 0 1em 0;
    /* padding-right: -1em; */
    background-color: white;
    font-size: 2em;
    /* border-radius: 50px; */

}

nav ul li a:hover{
    /* background-color: rgb(18, 77, 125); */
    background-color: rgb(19, 19, 19);
    color: white;
}

.exit-btn{
    text-align: right;
    padding: 1.3em 1.4em 0 1.4em;
    margin: -1.5em 1.2em 1em 0;
}

.exit-btn img{
    width: 20px;
    cursor: pointer;
}

.exit-btn img:hover{
    width: 25px;
    margin-bottom: -.3em;
}

.hide-mobile{
    display: none;
}

/* header p{
    color: black;
    text-align: center;
} */

/* .last{
    margin-bottom: 500px;
} */

/* *{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
} */

.contact-section{
    /* background: url(bg.png) no-repeat center;
    background-size: cover; */
    background-color: rgb(228, 228, 228);
    padding: 40px 0;
}
.contact-section h1{
    text-align: center;
    color: rgb(0, 0, 0);
}
.border{
    width: 100px;
    height: 10px;
    background: #34495e;
    margin: 40px auto;
}
  
.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}
  
.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
}
.contact-form-text:focus{
    box-shadow: 0 0 10px 4px #34495e;
}
textarea.contact-form-text{
    resize: none;
    height: 120px;
}
.contact-form-btn{
    float: right;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.contact-form-btn:hover{
    background: #2980b9;
}

.footer-container{
    width: 100%;
    background: #3d444a;
    color: #fff;
    padding: 3em 0;
    /* border-top-right-radius: 40px;
    transform: skewY(2deg);
    margin-top: 6.4em; */
}

a{
	color: grey;
}

@media screen and (max-width: 786px){
    .logo{
        width: 120px;
    }

    nav ul{
        height: 17.35%;
        width: 40%;
    }

    nav ul li a{
        font-size: 1.9em;
    }
    .authentic{
        display: block;
    }
}
