body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    background-color: rgb(228, 228, 228);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container{
    text-align: center;
    padding: .2em 1.2em;
}


.logo{
    width: 140px;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 1.5em 2em 0 2em;
}


.menu{
    width: 25px;
    margin-top: 40%;
}

.menu:hover{
    width: 28px;
}

nav ul{
    position: fixed;
    width: 30%;
    top: 0;
    right: 0;
    background-color: white;
    height: 39.7%;
    z-index: 7;
    padding-top: 2.5em;
    text-align: center;
    font-weight: 700;
}

nav ul li{
    height: fit-content;
}

nav ul  li a{
    /* color: rgb(18, 77, 125); */
    color: black;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1em 0 1em 0;
    /* padding-right: -1em; */
    background-color: white;
    font-size: 2em;
    /* border-radius: 50px; */

}

nav ul li a:hover{
    /* background-color: rgb(18, 77, 125); */
    background-color: rgb(19, 19, 19);
    color: white;
}

.exit-btn{
    text-align: right;
    padding: 1.3em 1.4em 0 1.4em;
    margin: -1.5em 1.2em 1em 0;
}

.exit-btn img{
    width: 20px;
    cursor: pointer;
}

.exit-btn img:hover{
    width: 25px;
    margin-bottom: -.3em;
}

.hide-mobile{
    display: none;
}

header p{
    color: black;
    text-align: center;
}

.last{
    margin-bottom: 500px;
}