.dark-mode {
    filter: invert(1) hue-rotate(180deg);
}

.invert {
    filter: invert(1) hue-rotate(180deg);
}


body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    background-color: rgb(228, 228, 228);
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container{
    text-align: center;
    padding: .2em 1.2em;
}


.logo{
    width: 140px;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 1.5em 2em 0 2em;
}


.menu{
    width: 25px;
    margin-top: 40%;
}

.menu:hover{
    width: 28px;
}

nav ul{
    position: fixed;
    width: 30%;
    top: 0;
    right: 0;
    background-color: white;
    height: 39.7%;
    z-index: 7;
    padding-top: 2.5em;
    text-align: center;
    font-weight: 700;
}

nav ul li{
    height: fit-content;
}

nav ul  li a{
    /* color: rgb(18, 77, 125); */
    color: black;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1em 0 1em 0;
    /* padding-right: -1em; */
    background-color: white;
    font-size: 2em;
    /* border-radius: 50px; */

}

nav ul li a:hover{
    /* background-color: rgb(18, 77, 125); */
    background-color: rgb(19, 19, 19);
    color: white;
}

.exit-btn{
    text-align: right;
    padding: 1.3em 1.4em 0 1.4em;
    margin: -1.5em 1.2em 1em 0;
}

.exit-btn img{
    width: 20px;
    cursor: pointer;
}

.exit-btn img:hover{
    width: 25px;
    margin-bottom: -.3em;
}

.hide-mobile{
    display: none;
}

header p{
    color: black;
    text-align: center;
}

.last{
    margin-bottom: 500px;
}

.services{
    background-color: rgb(228, 228, 228);
    text-align: center;
}
.services h1{
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 4px solid #3498db;
    font-size: 20px;
    padding-bottom: 10px;
    margin-top: 40px;
}
.cen{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}
.service{
    display: inline-block;
    width: calc(100% / 3);
    margin: 0 -2px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.4s;
}
.service:hover{
    background: #ddd;
}
.service i{
    color: #3498db;
    font-size: 34px;
    margin-bottom: 30px;
}
.service h2{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}
.service p{
    color: gray;
    font-size: 15px;
    font-weight: 500;
}
@media screen and (max-width: 800px) {
    .service{
      width: 50%;
    }
}
@media screen and (max-width: 500px) {
    .service{
      width: 100%;
    }
}

.footer-container{
    width: 100%;
    background: #3d444a;
    color: #fff;
    padding: 3em 0;
    /* border-top-right-radius: 40px;
    transform: skewY(2deg);
    margin-top: 6.4em; */
}

a{
	color: grey;
}

.authentic{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: "bowl content";
}

.right-col{
    text-align: center;
    margin: 3em 1em;
}

.authentic img{
    width: 100%;
}
  
.right-col p{
    line-height:1.3em;
    font-size:1.3em;
    font-weight: 400;
}

@media screen and (max-width: 786px){
    .logo{
        width: 120px;
    }

    nav ul{
        height: 17.35%;
        width: 40%;
    }

    nav ul li a{
        font-size: 1.9em;
    }
    .authentic{
        display: block;
    }

    .authentic img{
        border-radius: 20px;
        width: 95%;
        margin-left: 7px;
    }
}
